#gameCanvas {
    border: 1px solid #000;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  }
  
  canvas {
    background-color: #00ff95;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #start{
    background-color: orange;
  }
  h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  }

  p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  }
  footer{
      background-color: aqua;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-flow: row wrap;
  }
  #link1{
      background-image: url("trofeo.png");
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
  }
  #link3{
    background-image: url("snakelogo.png");
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}
  #mejores{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }